export(copGaussCircular)
export(copGaussExchangeble)
export(copGaussFull)
export(copGaussToeplitz)
exportClasses(copGauss)
exportClasses(copGaussCircular)
exportClasses(copGaussExchangeable)
exportClasses(copGaussFull)
exportClasses(copGaussToeplitz)
exportMethods(corrMatrix)
exportMethods(corrMatrixD)
exportMethods(dim)
exportMethods(effInfMat)
exportMethods(effScore)
exportMethods(invCorrMatrix)
exportMethods(invCorrMatrixD)
exportMethods(param)
